/*
stylesheet used for all pages

Colors used:
#cbcc60 - light green (logo color)
#e6e6e6 - light gray
#333 - dark gray
#ff4d4d - red color
#ff6666 - lighter red color
*/
a{
  color: #ff4d4d;
}
a:hover{
  color: #ff6666;
}
body{
  background-color: #e6e6e6;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0px;
}
.menu{
  font-weight:normal;
}
.menu i{
  display: block;
  text-align: center;
  padding: 14px 16px;

}
.menu ul {
    top: 0;
    left:0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 100%;
    z-index: 20; !important
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.jumbotron{
  background-color: white;
  padding: 30px;
  margin:0;
}
.jumbotron h1{
  font-weight: lighter;
}
.navbar-default{
  margin:0;
  color: black;
  background-color: white;
  border: none;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
}

.title1{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: lighter;
}
.slogan{
  float:right;
  font-style: italic;
}
.parallax {
    /* The image used */
    background-image: url("images/img_parallax.jpg");

    /* Set a specific height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.decor{
  background-image: url("images/img_parallax.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
}
.copyright{
  font-size: 14px;
  padding: 30px;
  text-align: center;
  display: block;
  /*color: #e6e6e6;*/
  /*background-color: #333;*/
}
